#reviewsName{
    width: 200px;
    height: 25px;
    border-radius: 10px;
}
#reviewsEmail{
    width: 200px;
    height: 25px;
    border-radius: 10px;
}
#reviewsText{
    width: 200px;
    border-radius: 10px;
}
.Review{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    width: 250px;
    height: 300px;
    border: 2px solid skyblue;
}